@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .progress-bar-shimmer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2), transparent);
    animation: progress-shimmer 2s infinite;
  }

}
